@model TicketSysteem.Models.Ticket

@{
    ViewBag.Title = "Details";
}

<h2>@Html.DisplayFor(model => model.Application)</h2>
<h2>@Html.DisplayFor(model => model.Subject)</h2>

<h3>@Html.DisplayFor(model => model.Customer) op @Html.DisplayFor(model => model.Date)  </h3>

<h4>Status: @Html.DisplayFor(model => model.Status)</h4>
<div>
    <hr/>
    <p>@Html.DisplayFor(model => model.Description)</p>
</div>
@if (Model.Replies != null)
{
    Html.Partial("ListReplies", Model.Replies);
}

@if (User.IsInRole("Admin"))
{
    @Html.Partial("CreateReply", new TicketSysteem.Models.TicketReply())
}
<p>

    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
