@model TicketSysteem.Models.Ticket

@{
    ViewBag.Title = "Details";
}

<h2>@Html.DisplayFor(model => model.Application)</h2>
<h2>@Html.DisplayFor(model => model.Subject)</h2>

<h3>@Html.DisplayFor(model => model.Customer) op @Html.DisplayFor(model => model.Date)  </h3>

<h4>Status: @Html.DisplayFor(model => model.Status)</h4>
<div>
    <hr/>
    <p>@Html.DisplayFor(model => model.Description)</p>
    @*<dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Application)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Application)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Subject)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subject)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Replies.Reply)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Replies)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

    </dl>*@
</div>
@Html.Partial("ListReplies")
@if (User.IsInRole("Admin"))
{
    @Html.Partial("CreateReply", new TicketSysteem.Models.TicketReply())
}
<p>

    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
